Sphinx==7.2.6
sphinx-rtd-theme==2.0.0
sphinx-copybutton==0.5.2
sphinxcontrib-jquery==4.1
Pygments==2.17.2
docutils==0.20.1
PyYAML==6.0.1
packaging==21.3 ; python_version < "3.11"
packaging==23.2  ; python_version >= "3.11"
